@inherits TareasListComponentBase
@using System.Globalization

<style>
    .selected {
        background-color: #3e99e980 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
</style>

<AccionesTareaComponent TareaId="SelectedRow.Id" OnSuccessActionMethod="ReloadTareasTable"/>  

<MudTable ServerData="@(new Func<TableState, Task<TableData<TareaDto>>>(ServerReload))"
        Hover="true" @ref="mudTable" RowsPerPage="5" MultiSelection="true" SelectOnRowClick="false"
        OnRowClick="RowClickEvent" T="TareaDto" RowClassFunc="@SelectedRowClassFunc" @bind-SelectedItems="selectedItems">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@(string.IsNullOrWhiteSpace(NombreMeta) ? "Seleccione una Meta" : "Tareas de " + NombreMeta)</MudText>
        <MudSpacer />
        <div style="display: block;">
            <MudText>Tareas seleccionadas: @selectedItems?.Count</MudText>
            <MudText>Tarea: @SelectedRow?.Nombre</MudText>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="EsImportante" T="TareaDto"> </MudTableSortLabel>
            <MudField Disabled="true" Label=" "></MudField>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Nombre" T="TareaDto">Nombre</MudTableSortLabel>
            <MudTextField Variant="Variant.Filled" T="string" OnDebounceIntervalElapsed="@(s=>OnSearch(s))" DebounceInterval="500" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Clearable></MudTextField>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="FechaCreacion" T="TareaDto">Fecha</MudTableSortLabel>
            <MudDatePicker DateChanged="OnPickDate" Variant="Variant.Filled" Label="Fecha" 
                Editable="true" DateFormat="dd/MM/yyyy" Culture="@CultureInfo.GetCultureInfo("es-MX")" Clearable/>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Estado" T="TareaDto">Estado</MudTableSortLabel>
            <MudSelect TextChanged="OnSelectEstado" T="string" Label="Estado" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" Clearable>
                <MudSelectItem Value="@(Domain.Enums.EstadoTarea.Abierta.ToString())" />
                <MudSelectItem Value="@(Domain.Enums.EstadoTarea.Completada.ToString())" />
            </MudSelect>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Importante" Style="text-align: center;">
            <MudToggleIconButton Class="p-0 m-0" Toggled="context.EsImportante" style="padding: 5px;"
                     Icon="@Icons.Material.Filled.Star" Color="@Color.Secondary" Size="Size.Medium"
                     ToggledIcon="@Icons.Material.Filled.Star" ToggledColor="@Color.Success" ToggledSize="Size.Medium"/>
        </MudTd>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Fecha">@context.FechaCreacion</MudTd>
        <MudTd DataLabel="Estado" Style="text-align: center;">
            @switch (context.Estado)
            {
                case Domain.Enums.EstadoTarea.Abierta:
                    <MudChip style="margin: 0px; height: 25px;">@context.Estado</MudChip>
                break;
                case Domain.Enums.EstadoTarea.Completada:
                    <MudChip style="margin: 0px; height: 25px;" Color="Color.Success">@context.Estado</MudChip>
                break;
            }
            
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        @if (MetaId > 0)
        {
            <MudText>No se encontraron registros</MudText>
        }
        else
        {
            <MudText>Seleccione una meta para ver sus tareas</MudText>
        }
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Cargando...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="@pageSizeOption" RowsPerPageString="Tareas por pagina" />
    </PagerContent>
</MudTable>