@inherits MetasListComponentBase

<MudCard Outlined="true">
    <MudCardHeader>
        <CardHeaderContent>
            <MudButton Variant="Variant.Filled" 
            StartIcon="@Icons.Material.Filled.Add" 
            class="blue-grey darken-1 shades-text text-white"
            @onclick="OpenAddMetaDialog">
                Nueva Tarea
            </MudButton>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudPaper>
            <MudList Clickable="true">
                @if (metas == null)
                {
                    <MudText Typo="Typo.h6">Cargando...</MudText>
                }
                else
                {
                    if (!metas.Any())
                    {
                        <MudText Typo="Typo.h6">No se encontraron registros</MudText>
                    }
                    foreach (var meta in metas)
                    {
                        <MudDivider />
                        <MudListItem>
                            <div>
                                <MudPaper Class="d-flex justify-space-between flex-grow-1 mud-transparent" Elevation="0">
                                    <div>
                                        <MudText Typo="Typo.h5">@meta.Nombre</MudText>
                                    </div>
                                    <div>
                                        <MudIconButton @onclick="(() => OpenUpdateMetaDialog(meta))" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium"/>
                                        <MudIconButton @onclick="(() => OpenDeleteMetaDialog(meta))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium"/>
                                    </div>
                                </MudPaper>
                                <MudText Typo="Typo.subtitle1">Fecha creada: @meta.FechaCreacion.Date.ToString("dd/MM/yyyy")</MudText>
                                <MudItem Class="py-1 my-1"></MudItem>
                                <MudPaper Class="py-0 my-0 d-flex justify-space-between flex-grow-1 mud-transparent" Elevation="0">
                                    <div>
                                        <MudText Typo="Typo.body1">Tareas completadas: @meta.TareasCompletadas/@meta.TotalTareas</MudText>
                                    </div>
                                    <div>
                                        <MudText Typo="Typo.body1">@meta.Porcentaje</MudText>
                                    </div>
                                </MudPaper>
                                <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="@Decimal.ToInt32(meta.PorcentajeCumplimiento)" Class="py-1 my-1" />
                            </div>
                        </MudListItem>
                        <MudDivider />
                    }
                }
            </MudList>
        </MudPaper>
        <br>
        <MudPagination Variant="Variant.Outlined" Count=@serverResponse.TotalPages SelectedChanged="PageChanged"/>
    </MudCardContent>
</MudCard>