@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (metas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha de creación</th>
                <th>Tareas completadas</th>
                <th>Total de tareas</th>
                <th>Porcentaje de umplimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meta in metas)
            {
                <tr>
                    <td>@meta.Id</td>
                    <td>@meta.Nombre</td>
                    <td>@meta.FechaCreacion.ToShortDateString()</td>
                    <td>@meta.TareasCompletadas</td>
                    <td>@meta.TotalTareas</td>
                    <td>@String.Format("{0:P2}.", (meta.PorcentajeCumplimiento / 100))</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Inject]
    private IMetaService metaService { get; set; }

    private List<MetaDto>? metas;

    protected override async Task OnInitializedAsync()
    {
        metas = await metaService.Get();
    }
}
